<ion-header>
  <ion-toolbar>
    <ion-title>questions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Question number of 10</ion-card-subtitle>
        <ion-card-title>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus totam, quae obcaecati
          nesciunt nostrum suscipit est, delectus error possimus aut, asperiores ratione nisi laborum beatae qui eius
          fuga aspernatur molestias.</ion-card-title>
      </ion-card-header>


    </ion-card>

    <ion-card>
      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>Answer</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Answer 1</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Answer 2</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Answer 3</ion-label>
            <ion-radio slot="start" value="3"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Answer 4</ion-label>
            <ion-radio slot="start" value="4"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Answer 5</ion-label>
            <ion-radio slot="start" value="5"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card>

    <ion-button>Next</ion-button>

  </ion-grid>


</ion-content>