<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large">QuickSAT</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/login">Login Or Register</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button routerLink="/subject">Subject(test)</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>