<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink="/login">Login Or Register</ion-button>
  <ion-button routerLink="/subject">Subject(test)</ion-button>
  <ion-button routerLink="/questions">Questions(test)</ion-button>
  <ion-button routerLink="/question-set">Question set</ion-button>
</ion-content>